<h1>Hello, welcome to dockerized Node.js Express webapp!</h1>
<div class="container">
  <p>This is service A</p>
  <p>Click the button to send a request to service B </p>
  <button class="request">Send a request to B!</button>
  <h2>The response from B should be here:</h2>
  <p id="response"></p>
</div>
